  $main-text-color:#404040; 
  $white: #FFF; 
  $main-title-color: #1C1A1A; 
  $main-btn-color:#232020;
  
   
  
  
  // -- fonts --// 

   %montserrat-400 { 
     font-family: 'Montserrat'; 
     font-weight: 400; 
   } 
    
   %zxool-xiaoWei-400 { 
    font-family: 'ZCOOL XiaoWei'; 
    font-weight: 400; 
  }  
   
  %open-sans-600 { 
    font-family: 'Open Sans'; 
    font-weight: 600; 
  }  
   
  %open-sans-400 { 
    font-family: 'Open Sans'; 
    font-weight: 400; 
  } 
  