@import 'vars';
@import 'fonts';
@import 'reset';  
@import 'libs';  
@import 'global';

.header {
    &__top { 
        position: relative; 
        border: 1px solid transparent;   
        padding: 53px 0; 
        margin-bottom: 127px;
        .logo{  
            width: 75px;
            // position: absolute;
            // left: 0;
            // right: 0; 
            // top: 43px;
            // margin: 0 auto;  
            position: absolute;
            right: 474px;
            top: 43px;
         } 

        .menu__list {
            display: flex;  
            justify-content: center;
             
         .menu__item + .menu__item {
             margin-left: 45px;
           }   
            
         .menu__item--bigger-distance{ 
           margin-right: 265px;
         } 

         .menu__link{ 
            font-size: 17px; 
            @extend  %montserrat-400; 
            color: $main-text-color;
          }   
        }
    } 
      
     
    &__main{ 
        margin-bottom: 235px;
    }  
     
    &__main-wrapper{ 
        position: relative
    } 
     
    &__main-img{ 
        position: absolute;
        top: -77px;
        right: -23px;
    }

    &__main-title{ 
        @extend %zxool-xiaoWei-400;   
        font-size: 45px; 
        line-height: 70px; 
        max-width: 647px; 
        margin-bottom: 38px; 
        color: $main-title-color;
     } 
      
     &__main-text{ 
        font-size: 18px; 
        line-height: 30px; 
        max-width: 500px; 
        margin-bottom: 50px;
     } 
      
     &__main-button-second, 
     &__main-button-first{ 
        padding: 10px 23px; 
        border: 1px solid #D48A5C;  
        display: inline-block; 
        transition: all .3s;  
        cursor: pointer;
        &:hover{ 
            color:#FFF; 
            background: #232020; 
            border: 1px solid #232020;  
        }
     } 
      
     &__main-button-first{ 
        padding: 10px 14px; 
        margin-right: 24px;
     }  
      
     &__items{ 
        display: flex; 
        justify-content: space-between; 
        border: 1px solid transparent; 
        margin-bottom: 81px;
     } 

      
     &__item-basis{  
       width: 100%; 
       max-width: 354px; 
       height: 247px; 
       background: #D48A5C; 
       position:relative
     }  
      
     &__first-item, 
     &__second-item,  
     &__third-item{   
        width: 100%; 
        max-width: 350px; 
        height: 256px;  
        position: absolute; 
        bottom: 14px; 
        left: 17px; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center; 
     }   
      
     &__first-item{ 
        background-image: url('../images/header/header-items/first-item-bg.jpg');   
     } 

     &__second-item{ 
        background-image: url('../images/header/header-items/second-item-bg.jpg');   
     } 
      
     &__third-item{ 
        background-image: url('../images/header/header-items/third-item-bg.jpg');   
     } 
      
     &__item-inner{  
        position: relative;  
        width: 100%; 
        max-width: 350px; 
        height: 256px;  
     } 

     &__item-content{ 
        width: 133px;    
        height: 50px;
        position: absolute; 
        top: 15px; 
        left: 15px;  
        border: 1px solid transparent;  
        position: relative;
     }  
      
     &__item-suptitle, 
     &__item-title{ 
        @extend %zxool-xiaoWei-400; 
        font-size: 14px; 
        color: $white;  
     } 
      
     &__item-title{   
         color: $main-title-color; 
         font-size: 17px; 
         position: absolute;
         top: 19px;
         left: -1px;
     }
      
     &__item-text{ 
        position: absolute;  
        left: 17px; 
        bottom: 30px;
        font-size: 15px;
        line-height: 17px;
        color: $white;  
        @extend  %open-sans-400;
        max-width: 195px;
     }

}  

.coffee-for-you{ 
  text-align: center;  
  background-image: url('../images/coffee-for-you/coffee-for-you-bg.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
   &__title{ 
   margin: 265px 0 37px;
   }  

   &__subtitle{ 
      max-width: 671px; 
      margin:0 auto 37px;
   } 
    
   &__btn{ 
      padding: 12px 20px;  
      margin-bottom: 251px; 
      color: $main-text-color;
   }
} 

.popular-product{ 
   text-align: center;  
   &__title{ 
      margin: 140px 0 77px; 
   } 
    
   &__items{ 
      border: 1px solid transparent;  
      margin: 0 auto;
      width: 100%; 
      max-width: 1045px; 
      display: grid; 
      grid-template-rows: repeat(3, 1fr); 
      grid-template-columns: repeat(2, 1fr);  
      grid-row-gap: 80px; 
      grid-column-gap: 95px;
   } 
    
   &__item{ 
      border: 3px solid #414141; 
      max-width: 475px; 
      text-align: right; 
      padding: 0 27px; 
      position: relative;
   } 
    
   &__item-title{ 
      margin: 37px 0 23px; 
      @extend %zxool-xiaoWei-400; 
      font-size: 30px; 
      color: $main-title-color;
   } 

   &__item-price{ 
      font-size: 20px;   
      @extend %open-sans-600; 
      color: #D48A5C; 
      margin-bottom: 14px;
   } 
    
   &__item-img{ 
      position: absolute;
      top: -23px;
      left: -56px;
   } 
    
   &__item-btn{ 
     padding: 10px 17px;  
     margin: 85px auto 70px;
   }

} 
 
.buy-machine{ 
   background: #FFF;  
   &__inner{ 
      display: flex; 
      margin: 37px 0 7px;
   }   
    
   &__title{ 
      max-width: 650px; 
      margin: 133px 0 34px;
   } 
    
   &__text{ 
      max-width: 675px; 
      margin-bottom: 7px;
   } 
    
   &__btn{ 
     margin: 27px 0 170px; 
     padding: 9px 14px;
   } 

   &__img-wrapper{ 
      // width: 700px; 
      // height: 600px; 
      // background-image: url('../images/buy-machine/buy-machine-img.png'); 
      // background-repeat: no-repeat; 
      // background-size: cover; 
      // background-position: center; 
       position: relative; 
       border: 1px solid transparent;
   } 

   &__link{ 
      width: 70px; 
      height: 70px; 
      border-radius: 50%; 
      background: #232020;  
      display: flex; 
      justify-content: center; 
      align-items: center; 
      position: absolute;
      left: 0;
      right: 0;
      margin: 70% auto;
   }

} 
 
.best-product{  

   &__title{ 
      margin: 90px 0 47px;
   }    
    
   &__cards{  
      width: 100%;  
      max-width: 1130px;
      border: 1px solid transparent; 
      display: flex; 
      justify-content: space-between; 
      margin: 0 auto 99px;
   } 

   &__card{ 
      padding: 23px; 
      background-color: $white; 
      max-width: 350px;
   } 
    
   &__card-img{  
      margin-bottom: 31px;
   }  
    
   &__card-wrapper{ 
      display: flex; 
      align-items: center; 
      margin-bottom: 17px;
   } 
    
  &__card-title{ 
      font-size: 24px;  
      @extend %zxool-xiaoWei-400; 
      color: $main-title-color; 
      margin-bottom: 14px;
   } 
    
  &__card-price{ 
    @extend %open-sans-600; 
    margin-bottom: 7px;
  } 
   
 &__card-span{ 
   color:#EAB665; 
 }
     
 &__card-btn{ 
   padding: 10px 25px; 
   margin-bottom: 54px;
 }
 
}

@import 'media'; 
 
 
