@import 'vars';
@import 'fonts';
@import 'reset';  
@import 'libs';  
@import 'global';

.header {
    &__top { 
        position: relative; 
        border: 1px solid transparent;   
        padding: 53px 0; 
        margin-bottom: 127px;
        .logo{  
            width: 75px;
            // position: absolute;
            // left: 0;
            // right: 0; 
            // top: 43px;
            // margin: 0 auto;  
            position: absolute;
            right: 474px;
            top: 43px;
         }  
          
         .menu__btn {
            width: 40px;
            height: 35px;      
            border: none;
            background-color: transparent;
            padding: 13px 0;
            position: relative;
            margin-right: 15px;  
            z-index: 70;
            display: none;
    
            &::after,
            &::before {
                content: "" ;
                position: absolute;
                width: 40px;
                height: 2px;
                background-color: $main-btn-color;
                left: 0;
            }
    
            &::before {
                top: 0;
            }
    
            &::after {
                bottom: 0;
            }
    
        }
     
    .menu__btn span{   
        display: block;  
        height: 2px; 
        width: 100%; 
        background-color: $main-btn-color; 
        position: absolute; 
        left: 0; 
        top: 17px;
    } 

        .menu__list {
            display: flex;  
            justify-content: center;
             
         .menu__item + .menu__item {
             margin-left: 45px;
           }   
            
         .menu__item--bigger-distance{ 
           margin-right: 265px;
         } 

         .menu__link{ 
            font-size: 17px; 
            @extend  %montserrat-400; 
            color: $main-text-color;
          }   
        }
    } 
      
     
    &__main{ 
        margin-bottom: 235px;
    }  
     
    &__main-wrapper{ 
        position: relative
    } 
     
    &__main-img{ 
        position: absolute;
        top: -77px;
        right: -23px;
    }

    &__main-title{ 
        @extend %zxool-xiaoWei-400;   
        font-size: 45px; 
        line-height: 70px; 
        max-width: 647px; 
        margin-bottom: 38px; 
        color: $main-title-color;
     } 
      
     &__main-text{ 
        font-size: 18px; 
        line-height: 30px; 
        max-width: 500px; 
        margin-bottom: 50px;
     } 
      
     &__main-button-second, 
     &__main-button-first{ 
        padding: 10px 23px; 
        border: 1px solid #D48A5C;  
        display: inline-block; 
        transition: all .3s;  
        cursor: pointer;
        &:hover{ 
            color:#FFF; 
            background: #232020; 
            border: 1px solid #232020;  
        }
     } 
      
     &__main-button-first{ 
        padding: 10px 14px; 
        margin-right: 24px;
     }  
      
     &__items{ 
        display: flex; 
        justify-content: space-between; 
        border: 1px solid transparent; 
        margin-bottom: 81px;
     } 

      
     &__item-basis{  
       width: 100%; 
       max-width: 354px; 
       height: 247px; 
       background: #D48A5C; 
       position:relative
     }  
      
     &__first-item, 
     &__second-item,  
     &__third-item{   
        width: 100%; 
        max-width: 350px; 
        height: 256px;  
        position: absolute; 
        bottom: 14px; 
        left: 17px; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center; 
     }   
      
     &__first-item{ 
        background-image: url('../images/header/header-items/first-item-bg.jpg');   
     } 

     &__second-item{ 
        background-image: url('../images/header/header-items/second-item-bg.jpg');   
     } 
      
     &__third-item{ 
        background-image: url('../images/header/header-items/third-item-bg.jpg');   
     } 
      
     &__item-inner{  
        position: relative;  
        width: 100%; 
        max-width: 350px; 
        height: 256px;  
     } 

     &__item-content{ 
        width: 133px;    
        height: 50px;
        position: absolute; 
        top: 15px; 
        left: 15px;  
        border: 1px solid transparent;  
        position: relative;
     }  
      
     &__item-suptitle, 
     &__item-title{ 
        @extend %zxool-xiaoWei-400; 
        font-size: 14px; 
        color: $white;  
     } 
      
     &__item-title{   
         color: $main-title-color; 
         font-size: 17px; 
         position: absolute;
         top: 19px;
         left: -1px;
     }
      
     &__item-text{ 
        position: absolute;  
        left: 17px; 
        bottom: 30px;
        font-size: 15px;
        line-height: 17px;
        color: $white;  
        @extend  %open-sans-400;
        max-width: 195px;
     }

}  

.coffee-for-you{ 
  text-align: center;  
  background-image: url('../images/coffee-for-you/coffee-for-you-bg.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
   &__title{ 
   margin: 265px 0 37px;
   }  

   &__subtitle{ 
      max-width: 671px; 
      margin:0 auto 37px;
   } 
    
   &__btn{ 
      padding: 12px 20px;  
      margin-bottom: 251px; 
      color: $main-text-color;
   }
} 

.popular-product{ 
   text-align: center;  
   &__title{ 
      margin: 140px 0 77px; 
   } 
    
   &__items{ 
      border: 1px solid transparent;  
      margin: 0 auto;
      width: 100%; 
      max-width: 1045px; 
      display: grid; 
      grid-template-rows: repeat(3, 1fr); 
      grid-template-columns: repeat(2, 1fr);  
      grid-row-gap: 80px; 
      grid-column-gap: 95px;
   } 
    
   &__item{ 
      border: 3px solid #414141; 
      max-width: 475px; 
      text-align: right; 
      padding: 0 27px; 
      position: relative;
   } 
    
   &__item-title{ 
      margin: 37px 0 23px; 
      @extend %zxool-xiaoWei-400; 
      font-size: 30px; 
      color: $main-title-color;
   } 

   &__item-price{ 
      font-size: 20px;   
      @extend %open-sans-600; 
      color: #D48A5C; 
      margin-bottom: 14px;
   } 
    
   &__item-img{ 
      position: absolute;
      top: -23px;
      left: -56px;
   } 
    
   &__item-btn{ 
     padding: 10px 17px;  
     margin: 85px auto 70px;
   }

} 
 
.buy-machine{ 
   background: #FFF;  
   &__inner{ 
      display: flex; 
      margin: 37px 0 7px;
   }   
    
   &__title{ 
      max-width: 650px; 
      margin: 133px 0 34px;
   } 
    
   &__text{ 
      max-width: 675px; 
      margin-bottom: 7px;
   } 
    
   &__btn{ 
     margin: 27px 0 170px; 
     padding: 9px 14px;
   } 

   &__img-wrapper{ 
      // width: 700px; 
      // height: 600px; 
      // background-image: url('../images/buy-machine/buy-machine-img.png'); 
      // background-repeat: no-repeat; 
      // background-size: cover; 
      // background-position: center; 
       position: relative; 
       border: 1px solid transparent;
   } 

   &__link{ 
      width: 70px; 
      height: 70px; 
      border-radius: 50%; 
      background: #232020;  
      display: flex; 
      justify-content: center; 
      align-items: center; 
      position: absolute;
      left: 0;
      right: 0;
      margin: 70% auto;
   }

} 
 
.best-product{  

   &__title{ 
      margin: 90px 0 47px;
   }    
    
   &__cards{  
      width: 100%;  
      max-width: 1130px;
      border: 1px solid transparent; 
      display: flex; 
      justify-content: space-between; 
      margin: 0 auto 99px;
   } 

   &__card{ 
      padding: 23px; 
      background-color: $white; 
      max-width: 350px;
   } 
    
   &__card-img{  
      margin-bottom: 31px;
   }  
    
   &__card-wrapper{ 
      display: flex; 
      align-items: center; 
      margin-bottom: 17px;
   } 
    
  &__card-title{ 
      font-size: 24px;  
      @extend %zxool-xiaoWei-400; 
      color: $main-title-color; 
      margin-bottom: 14px;
   } 
    
  &__card-price{ 
    @extend %open-sans-600; 
    margin-bottom: 7px;
  } 
   
 &__card-span{ 
   color:#EAB665; 
 }
     
 &__card-btn{ 
   padding: 10px 25px; 
   margin-bottom: 54px;
 }
 
} 
 
.review {
   text-align: center;  
   margin-bottom: 33px;

   &__title {
      margin: 40px 0 31px;
   }

   &__slider-wrapper {
      border: 1px solid transparent;
      margin-bottom: 54px;
   }

   &__slider {
      border: 1px solid transparent;

      .slick-arrow {
         border: none;
         background-color: transparent;
         cursor: pointer;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 5;
      }

      .slick-prev {
         left: -20px;
      }

      .slick-next {
         right: -20px;
      }

      .slick-dots {
         width: 100%;
         display: flex;
         justify-content: center;
         position: absolute;
         bottom: 5px;
      }

      .slick-dots li+li {
         margin-left: 15px;
      }

      .slick-dots button {
         width: 15px;
         height: 15px;
         background: #FFF;
         font-size: 0;
         border-radius: 50%;
         border: none;
         cursor: pointer;
      }

      .slick-dots .slick-active button {
         background: #d48a5c;
      }

   }

   &__item {
      max-width: 763px;
      border: 1px solid transparent;
   }

   &__item-text {
      max-width: 573px;
      margin: 0 auto 47px;
   }

   &__item-author-img {
      margin: 0 auto 15px;
   }

   &__item-author-name {
      @extend %zxool-xiaoWei-400;
      color: $main-title-color;
      margin-bottom: 45px;
   }

   &__btn {
      padding: 10px 25px;
      margin-bottom: 54px;
   }
} 
 
 .reservation{ 
  text-align: centr;   
   
  &__booking{   
   max-width: 790px; 
   margin: 0 auto 95px;
   background: $white; 
   border: 1px solid transparent;
  } 
   
  &__booking-inner{ 
   margin: 43px auto 0; 
   text-align: center; 
   width: auto; 
   border: 1px solid transparent; 
   max-width: 490px;
  } 
   
 &__suptitle{ 
   font-size: 14px; 
   color: #D48A5C; 
   margin-bottom: 10px;
 } 
  
 &__title{ 
   font-size: 29px; 
   @extend  %zxool-xiaoWei-400; 
   margin-bottom: 21px;
 }  
  
 &__input-wrapper{ 
   position: relative; 
   margin-bottom: 15px; 
   width: 100%;
   max-width: 490px;
 }
  
&__input{  
   width: 100%;
   max-width: 490px;
   padding: 10px 38px 10px 18px; 
   font-size: 15px; 
   color: #5C5C5C;  
} 
 
&__input-img{ 
   position: absolute;
    top: 17px;
    right: 15px;
} 
 
&__form-btn{ 
   padding: 10px 25px; 
   font-size: 15px; 
   margin: 21px 0 31px;
}

} 
 
.blog{ 
   &__title{ 
      text-align: center; 
      margin-bottom: 57px; 
      font-size: 55px;  
      @extend  %zxool-xiaoWei-400; 
      color: $main-title-color;
   }   

   &__items{ 
      border: 1px solid transparent; 
      display: flex; 
      justify-content: space-between; 
   }  

   &__item{ 
      max-width: 350px; 
      border: 1px solid transparent;
   } 
    
   &__item-text{ 
      padding: 19px 72px 19px 27px; 
      background: #1C1A1A; 
      color: $white;
   } 
    
   &__item-suptitle{ 
      font-size: 14px;
   } 
    
  &__item-span{ 
   color:#EAB665;
  } 
   
  &__item-title{ 
   font-size: 20px; 
   line-height: 30px; 
   @extend %zxool-xiaoWei-400; 
   margin-bottom: 10px;
  } 
   
 &__item-link{ 
   padding-right: 30px; 
   border: 1px solid transparent; 
   font-size: 14px;
   line-height: 26px;
   color: #EAB665;  
   position:relative;
   &::after{ 
      content: ""; 
      width: 19px; 
      height: 9px; 
      background-image:url('../images/blog/arrow.svg'); 
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position: center; 
      position: absolute;
      top: 3px;
      right: 2px;
   }
  } 
   
  &__btn{ 
    padding: 10px 17px;
    margin: 70px auto 50px; 
    display:block;  
    width: 181px;
  }
}  

 
.contacts{
  background: #FFF;  
 
  &__go-to-top{ 
   color: $main-title-color; 
   border: 1px solid transparent; 
   display: inline-block;   
   width: 97px;
   position: absolute;
   left: 0;
   right: 0; 
   top: -23px;
   margin: 0 auto;
  }   

  &__go-to-top-img{ 
   margin: 0 auto 5px;
  }

  &__inner{ 
   border: 1px solid transparent; 
   display: flex; 
   justify-content: space-between;  
   padding-top: 115px;   
   border-top: 1px solid #EAB665; 
   position: relative;
  } 

  &__link{ 
   position: relative;  
   padding-left: 34px; 
   border: 1px solid transparent;
   color: $main-title-color; 
   font-size: 14px; 
   display: flex; 
   align-items: center;
  }   
   
  &__link-img{ 
   position: absolute;
   left: 3px;
   top: 7px;
  }
   
  &__link-span{ 
   @extend %open-sans-600;
  }  
   
  &__form{ 
   width: 100%; 
   max-width: 350px;  
   position: relative;
  }

  
 &__form-btn{ 
   position: absolute; 
   top: 0; 
   right: 0; 
   background: transparent; 
   width: 67px;
   height: 50px; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   border: 1px solid transparent;
 }  
  
 &__input{  
   width: 100%;
   padding: 10px 75px 10px 15px; 
   background: #F2EAE2;
 }  
 
 
} 
 
.footer{ 
   background: #FFF; 
   padding-top: 70px;  
 } 
  
 .footer-top{   
   display: flex; 
   justify-content: space-between;  
   align-items: flex-end;
   margin-bottom: 110px; 
   
   &__logo-text{ 
     max-width: 495px;
   } 
    
   &__logo{ 
      margin-bottom: 9px;
   }  
     
   &__social{   
      width: 195px; 
      display: flex; 
      justify-content: space-between;
   }

   &__social-item{ 
      width: 47px; 
      height: 47px; 
      border-radius: 4px; 
      border: 1px solid #6D6D6D; 
      display: flex; 
      justify-content: center; 
      align-items: center;
    }  
    
  }  
   
  .footer-bottom{
     padding: 17px 0 18px; 
     border-top: 1px solid #EAB665; 

     &__text {
        text-align: center; 
     }
  }

 
 

@import 'media'; 
 
 
